<!-- 相手の名前もしくはグループ名を表示 -->
<header>
    <%= render ("message/message_header") %>
</header>

<!-- このページはリアルタイムで通信を行うのでjavascriptで処理を書く,画像は一度読み込めばいいのでメッセージのみ読み込む -->
<div class="container" id="chats">
    <div id="chat-view">
    </div>
    <form name="form" class="mt-5 msg-form">
        <div class="form-group d-flex">
        <textarea name="msgText" class="form-control col-8 pr-5" id="exampleFormControlTextarea1" rows="3" cols="80" placeholder="ここにメッセージを入力してください"></textarea>
        <div class="align-self-center ml-5 col-3"><button type="button" class="btn btn-primary btn-lg pr-5 pl-5" id="form-btn">送信する</button></div>
    </form>

</div>

<!-- javasriptをこのページだけ反映した
    　やり方（quiita参照　URL:https://qiita.com/Hijiri-K/items/1a3f7137cf3186580447）
     
    app/assets/javascripts/application.jsの以下の一行を削除
        //= require_tree .
         
    config/initializers/assets.rbに読み込みたいjsファイルを以下の方法で記述
        Rails.application.config.assets.precompile += %w( FileName.js )
-->

<%= javascript_include_tag 'realTimesChat.js' %>
    
