<header>
    <%= render ("message/message_header") %>
</header>

<div class="container">
    <div class="d-flex">
        <div class="offset-1">
            <%= image_tag "https://picsum.photos/200/300" , class: "chat-image"%>
        </div>
        <div class="align-self-center chat-format">hello</div>
    </div>  

    <div class="d-flex flex-row-reverse col-11">
        <div>
            <%= image_tag "https://picsum.photos/200/300" , class: "chat-image"%>
        </div>
        <div class="align-self-center my-chat-format">hello</div>
    </div>  
</div>
