<% provide( :use_nav , "true") %>  <!-- サイドのナビメニューを表示する（表示しない場合falseにする）　-->

<div class="container-fluid">
    <div class="row">
    <!-- グループ一覧の画像を表示（javascriptでやる） -->
        <div class="col-6 text-center mt-5">
            <a href="#">
                <%= image_tag "https://picsum.photos/200/300" , class: "view-images" %>
                <div class="image-name">GroupName</div>
            </a>
        </div>

        <div class="col-6 text-center mt-5">
            <a href="#">
                <%= image_tag "https://picsum.photos/200/300" , class: "view-images" %>
                <div class="image-name">GroupName</div>
            </a>
        </div>

        <div class="col-6 text-center mt-5">
            <a href="#">
                <%= image_tag "https://picsum.photos/200/300" , class: "view-images" %>
                <div class="image-name">GroupName</div>
            </a>
        </div>

        <div class="col-6 text-center mt-5">
            <a href="#">
                <%= image_tag "https://picsum.photos/200/300" , class: "view-images" %>
                <div class="image-name">GroupName</div>
            </a>
        </div>

    </div>
</div>