// アプリケーション全体に反映するスタイルシート

html {
    height: 100%;
}

body {
    height: 100%;
    letter-spacing: 0.2em;

    font-family: Century;
}

// bodyの調整
#main{
    height: 100%;
    padding: 0;

}

// コンテンツのスタイルシート
#main-content{
    margin-left: 235px; //ナビの分だけ左を空ける
}

.btn{
    white-space: nowrap;
}