// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
    padding: 3% 5% 8% 5% ;
}

.info-text{
    padding: 2rem;
    width: 100%;
    white-space: nowrap;
}