// 画像に関してのスタイルシート

// サイドのナビメニューの画像を調整する
.nav-image{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

// フレンド一覧やグループ一覧で使用する画像を調整する
.view-images{
    border-radius: 50%;
    height: 55%;
    width: 30%;
}

.view-images:hover{
    opacity: 0.6;
}

// フレンド一覧やグループ一覧で使用する名前を調整する
.image-name{
    margin-top: 2%;
}

.chat-image{
    border-radius: 50%;
    height:6rem;
    width: 6rem;
}

.group-info-image{
    margin-right: 10rem;
    width: 300px;
}