// Place all the styles related to the message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 全てのチャットのスタイルシート
base-chat-format{
    padding: 0.8em;
    margin: 0 0.6em;
    border-radius: 50%;
}

// 相手のメッセージのスタイルシート
.chat-format{
    @extend base-chat-format;
    background-color:lightblue;
}

// 自分のメッセージのスタイルシート
.my-chat-format{
    @extend base-chat-format;
    background-color: lime;
}

.msg-form{
    position: fixed;
    bottom: 0; 
    background-color: rgb(216, 220, 224);
    padding-left: 5%;
    padding-top: 1%;
}

#chats{
    margin-bottom: 150px;
}
